<html>
     <head>
        <link href="/css/style.css" rel="stylesheet" type="text/css">
    </head>
    
    <body>
        <center><h1>Make a new entry</h1></center><br><br><br>
        <form action="/newblogpost" method="POST">
            Title:  <input type="text" name="Title"><br>
            <input type="text" name="blog_content"><br>
            <input type="submit" value="Save">
        </form>
    </body>
</html>