<html>
     <head>
        <link href="/css/style.css" rel="stylesheet" type="text/css">
    </head>
    
    <body>
        <center><h1>Sign Up</h1></center><br><br><br>
        <center><form action="/signuppost" method="POST">
                Username: <input name="username" type="text"><br><br>
                Password: <input name="password" type="password"><br><br>
                <input type="submit" value="Login">
            </form></center>
    </body>
</html>