<html>
    <head>
        <link href="/css/style.css" rel="stylesheet" type="text/css">
    </head>
    
    <body>
        <center><h1>Blogify</h1></center><br><br><br>
        <center><h2><a href="/login">LOGIN</a></h2></center><br><br><br>
        <center><p>Not a user?</p></center>
        <center><h2><a href="/signup">SIGN UP</a></h2></center>
    </body>
</html>